.gradle/
.idea/
.kotlin/
build/
out/
run/
runs/

*.iml
*.ipr
*.iws
*.log
*.tmp
*.class

**/build/
**/.gradle/
**/.kotlin/

native/
META-INF/natives/
*.dll
*.so
*.dylib

*.dat
*.data

client/lib/*.jar
server/lib/*.jar
